force-app/main/default/flows/Weekly_Inventory_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Append_Current_Part_Info</name>
        <label>Append Current Part Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ReportText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReportText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Append_Part_Info</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Append_Part_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Part_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Report</name>
        <label>Build Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ReportText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Part Name, Quantity Used\n&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Part_Info</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Weekly_Inventory_Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Weekly_Inventory_Report</label>
    <loops>
        <name>Append_Part_Info</name>
        <label>Append Part Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Low_Stock_Parts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Current_Part_Info</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Low_Stock_Parts</name>
        <label>Get Low Stock Parts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity_Used__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Parts_Used__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Low_Stock_Parts</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-09-01</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ReportText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
